@media screen and (max-width: 1320px) {
  .voiceinator {
    width: 50%;
  }
  h1 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 970px) {
  .voiceinator {
    width: 65%;
  }
}
@media screen and (max-width: 750px) {
  .voiceinator {
    width: 70%;
  }
  h1 {
    font-size: 2rem;
  }
  select {
    background-position: center right 30px;
    font-size: 18px;
  }
  label {
    font-size: 18px;
  }
  input[type="range"]::-webkit-slider-thumb{
    height: 1.7rem;
    width: .9rem;
  }
  input[type="range"]::-moz-range-thumb {
    height: 1.7rem;
    width: .9rem;
  }
}
@media screen and (max-width: 550px) {
  .voiceinator {
    width: 70%;
  }
  h1 {
    font-size: 1.5rem;
  }
  select {
    font-size: 15px;
  }
  label {
    font-size: 17px;
  }
  input[type="range"]::-webkit-slider-runnable-track{
    height: 0.4rem;
  }
  input[type="range"]::-moz-range-track {
    height: 0.4rem;
  }
  textarea {
    font-size: 15px;
    padding: 5px 10px;
  }
  #stop,
  #speak {
    padding: 8px 40px;
    font-weight: 500;
  }
}
@media screen and (max-width: 440px) {
  .voiceinator {
    width: 90%;
    margin-top: 70px;
  }
  h1 {
    font-size: 1.2rem;
  }
  .allInputs {
    margin: 10px 0;
    padding: 2px 15px;
  }
  select {
    font-size: 15px;
  }
  label {
    font-size: 15px;
  }
  input[type="range"]::-webkit-slider-thumb{
    height: 1.2rem;
    width: .7rem;
  }
  input[type="range"]::-moz-range-thumb {
    height: 1.2rem;
    width: .7rem;
  }
  input[type="range"]::-webkit-slider-runnable-track{
    height: 0.3rem;
  }
  input[type="range"]::-moz-range-track {
    height: 0.3rem;
  }
  textarea {
    font-size: 14px;
    padding: 5px 10px;
  }
  #stop,
  #speak {
    padding: 8px 30px;
    font-weight: 500;
  }
}
